.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
}


#memory {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}